<!DOCTYPE html>
<html>
<body>

            <form method="post" action="">
        DataNabycia:<br>
                <input type="text" name="DataNabycia" value=""><br>
        Cena:<br><br>
                <input type="text" name="Cena" value=""><br><br>
        Nazwa:<br><br>
        <input type="text" name="Nazwa" value=""><br><br>
        RodzajPlyty:<br><br>
        <input type="text" name="RodzajPlyty" value=""><br><br>
                <input type="submit" value="Submit" class="submit">
            </form>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html> 